<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MaxiBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MaxiBug.Properties.Settings>
            <setting name="GridShowBorders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridBorderColor" serializeAs="String">
                <value>197, 197, 197</value>
            </setting>
            <setting name="GridSelectionBackColor" serializeAs="String">
                <value>172, 212, 253</value>
            </setting>
            <setting name="GridSelectionForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AppFont" serializeAs="String">
                <value>Segoe UI, 9.75pt</value>
            </setting>
            <setting name="GridAlternatingRowColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridRowBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridAlternateRowBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FormStartPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IssueFormStartPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IssueFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ScrollToLastRow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchCaseInsensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenPdf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PdfTitle" serializeAs="String">
                <value>MaxiBug issue</value>
            </setting>
            <setting name="PostgresIpaddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PostgresUser" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="PostgresPassword" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="PostgresPort" serializeAs="String">
                <value>5432</value>
            </setting>
        </MaxiBug.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
